.webchat-minimize {
  display: none;
  width: 200px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background: #3E3E40;
  position: fixed;
  z-index: 20;
  user-select: none;
  cursor: pointer;
}

.webchat-minimize .minimize-sign {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.webchat-minimize .minimize-count {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  margin: 0 5px;
  text-align: center;
}

.webchat-minimize .webchat-unread-prompt {
  cursor: pointer;
  outline: none;
  border: none;
}
