.webchat-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  background: rgba(30, 30, 30, .4);
}

.webchat-modal .modal-img-box {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.webchat-modal .modal-img-box .webchat-exhibit {
  width: 100%;
}

.webchat-back-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
}
